
*.user
.env

/infrastructure/connection_bridge/.idea
/infrastructure/connection_bridge/.mvn
/infrastructure/connection_bridge/target

/infrastructure/framework/.vs
/infrastructure/framework/.idea
/infrastructure/framework/Automation.*/.vs
/infrastructure/framework/Automation.*/obj
/infrastructure/framework/Automation.*/bin
/infrastructure/framework/Automation.Unity3D/Library
/infrastructure/framework/Automation.Unity3D/Logs
/infrastructure/framework/Automation.Unity3D/Temp
/infrastructure/framework/Automation.Unity3D/.vscode
/infrastructure/framework/Automation.Unity3D/*.csproj
/infrastructure/framework/Automation.Unity3D/*.sln
/infrastructure/framework/Automation.Unity3D/UserSettings
/infrastructure/framework/Automation.Unity3D/*.blob
/infrastructure/framework/Automation.Unity3D/Assets/InitTestScene*
/infrastructure/framework/Automation.Unity3D/.idea

/sample_project/Library
/sample_project/Logs
/sample_project/Temp
/sample_project/.vscode
/sample_project/*.csproj
/sample_project/*.sln
/sample_project/UserSettings
/sample_project/*.blob
/sample_project/.idea
/sample_project/obj
/sample_project/Tests/bin
/sample_project/Tests/obj
/sample_project/*_config.yml
